@keyframes expandWidth {
    from {
      width: 50%;
    }
    to {
      width: 100%;
    }
  }
#HOME {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;

    &>section {
        font-family: "Orbitron", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        &#eddy_sec {
        }

        &#rishabh_sec {}
    }
}

#charSide {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(2, 1fr);
    height: 50%;
    padding: 2.5rem;
    &>div:nth-child(1) {
        display: grid;

        &>section {
            display: grid;
            grid-auto-flow: row;
            padding: 1rem;

            &:nth-child(1) {
                &>header {
                    font-size: 3rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    height: 100%;

                    &>span {
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }
                }
            }

            &:nth-child(2) {

                &>div {
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }

    }

    &>div:nth-child(2) {

        &>section {
            font-family: 'Montserrat', sans-serif;
            padding: 1rem;

            &:nth-child(1) {
                &>p {
                    width: 90%;
                }
            }

            &:nth-child(2) {
                &>a {
                    width: 50%;
                    padding: 0.5rem 0;
                    font-weight: bold;
                    border-radius: 12px;
                    position: relative;
                    overflow: hidden;
                    transition: color 0.3s ease;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    #HOME {
        transform: translateY(18%);
        grid-auto-flow: row;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);

        &>section {
            align-items: start;
        }
    }

    #charSide {
        transform: translateY(0);
        height: 100%;
        &>div:nth-child(1) {
            &>section {
                &:nth-child(1){
                    &>header>span{
                        font-size: 2.5rem;
                    }
                }
            }
        }

        &>div:nth-child(2) {
            &>section {
                &:nth-child(1){
                    &>p{
                        width: 100%;
                    }
                }
                &:nth-child(2){
                    display: flex;
                    justify-content: center;
                    &>a{
                        width: 100%;
                    }
                }
            }
        }
    }
}